<!-- <h1>ceci est un texte depuis app.component</h1> -->
<!-- méthode string interpolation -->
<!-- <h2>{{title}}</h2>
{{2+2}} -->

<!-- <app-test></app-test>

<app-footer-crm></app-footer-crm> -->

<app-ui>
  <app-icon-close class="tr-btn-close"></app-icon-close>
  <app-icon-nav class="tr-btn-nav"></app-icon-nav>
  <app-header class="tr-header"></app-header>
  <app-nav class="tr-nav"></app-nav>
  <app-footer class="tr-footer"></app-footer>
  <router-outlet class="tr-root"></router-outlet>
</app-ui>

